#App-Header{
  position: absolute;

  height: 5%;
  width:  100%;

  z-index: 2;

  font-family: "Azonix";
  font-size: 50px;
  letter-spacing: 10px;

  color: cyan;
  background-color: rgba(0,0,0, 0.5);

  text-align: center;

}

#App-Container{
  height: 100%;
  width:  100%;
}
#App-Body{
  position: absolute;

  z-index: 0;

  width: 100%;
  height: 95%;
  background-color: black;
}

#App-Stats{
  position: absolute;

  z-index: 2;

  height: 42.5%;
  width:  15%;

  margin-top:  25%;

  background: linear-gradient(rgba(64,224,208, 0.8), rgba(0,255,255, 0.2));

}

#Stats-Title{
  width: 100%;
  height: 15%;

  background-color: rgba(64,224,208, 0.95);

  color: cyan;
  font-size: 40px;
  letter-spacing: 10px;

  text-align: center;

  font-family: Kiona;
}

#Stats-DroneSpeed{
  margin-top: 10%;
  margin-left: 5%;

  color: cyan;

  font-size: 20px;
  letter-spacing: 5px;

  font-family: Kiona;
}

body{
  width: 100%;
  height: 100%;

  margin: 0;
}


@font-face{
  font-family : "Azonix";
  src : url("Azonix.otf");
}
@font-face{
  font-family : "Kiona";
  src : url("Kiona-Regular.ttf");
}
@font-face{
  font-family : "Arkhip";
  src : url("Arkhip_font.otf");
}
